*.suo
*.user
*.backup
*.orig
*.dbmdl
*.psess
*.log
*.zip
*.rar
*.~vsd
*.db
/.log.
*/.log.1
.vs/
**/bin/
**/obj/
Publish/
cubasalud/Database.Shared/obj/
cubasalud/Database.Shared/bin/
cubasalud/sistema/obj/
cubasalud/sistema/bin/
Dockerfile
docker-compose.yml
.dockerignore
deploy.bat
*.tar
.tar
# Ignorar todos los archivos appsettings
appsettings.json
appsettings.*.json