@using sistema.Models
@using Database.Shared.Models
@model EmpleadoBaseViewModel

@{
    string tipoEmpleado = ViewData["TipoEmpleado"]?.ToString();
    bool esMedico = tipoEmpleado == "Medico";
    ViewData["Title"] = esMedico ? "Nuevo Médico" : "Nuevo Empleado";
}

@await Html.PartialAsync("_MensajeExito")

<!-- ALERTA KO -->
<div data-bind="visible: AlertaVisible" class="mb-3">
    <div class="alert" role="alert" data-bind="css: AlertaCss, text: AlertaMensaje">
    </div>
</div>
@if (esMedico)
{
    @await Html.PartialAsync("_NuevoMedicoForm", Model)
}
else
{
    @await Html.PartialAsync("_NuevoEmpleadoForm", Model)
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-min.js"></script>
    <script src="~/ViewModelKo/NuevoEmpleadoVM.js"></script>
}