@model sistema.Models.ProveedorBaseViewModel
@{
    ViewData["Title"] = "Modificar Proveedor";
}
<div class="app-page-title">
    <div class="page-title-wrapper">

        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>Proveedores
                <div class="page-title-subheading">Modifica un proveedor
                </div>
            </div>
        </div>
    </div>
</div>
 @await Html.PartialAsync("_MensajeExito")
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="Proveedor" asp-action="Modificar" asp-route-id="@Model.Proveedor.Id" method="post">
@await Html.PartialAsync("_ProveedorForm", Model)
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#SelectedTipoCompraId').change(function () {
                var selectedValue = $(this).val();
                var $diasCredito = $('#DiasCredito');
                if (selectedValue == "1") {
                    $diasCredito.prop('readonly', true).val('');
                } else {
                    $diasCredito.prop('readonly', false);
                }
            });

            $('#SelectedTipoCompraId').trigger('change');
        });
    </script>
}
