@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    // Cambia "Cliente" por la clave exacta que decidas usar para identificar la abreviatura.
    Layout = farmamest.Utilidades.SerSaludUiHelper.ResolverLayout(Configuration); 
    ViewData["Title"] = "Nuevo contrato";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <center><h4><b>Nuevo contrato</b></h4></center>
    </div>
</div>

@await Html.PartialAsync("_ContratoForm")

@section css{

}

@section Scripts{

}