.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
    color: black;
}

.inputfile-7 + label {
    color: #c39f77;
}

.inputfile-7 + label {
    border: 1px solid #ced4da;
    font-size: 1rem;
    background-color: #fff;
    padding: 0;
    border-radius: 4px;
    width: auto;
    height: 38px;
}

    .inputfile-7:focus + label,
    .inputfile-7.has-focus + label,
    .inputfile-7 + label:hover {
        border-color: #3f6ad8;
    }

    .inputfile-7 + label span,
    .inputfile-7 + label strong {
        padding: 0.36rem 1.25rem;
    }

    .inputfile-7 + label span {
        width: 440px;
        min-height: 1em;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
        border-radius: 0 4px 4px 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    }

    .inputfile-7 + label strong {
        height: 100%;
        color: #474e6e;
        background-color: #ebedf0;
        display: inline-block;
    }

    .inputfile-7:focus + label strong,
    .inputfile-7.has-focus + label strong,
    .inputfile-7 + label:hover strong {
        background-color: #3f6ad8;
        color: #fff;
    }

@media screen and (max-width: 50em) {
    .inputfile-7 + label strong {
        display: block;
    }
}

button:disabled {
    cursor: not-allowed;
}
