@model sistema.Models.VentaBaseViewModel

 <div class="form">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                          <div class="card-body">

                               <form asp-controller="Venta" asp-action="GraficaVentas" method="post">
                     <div class="form-row">
                    <div class="col-md-12">
                       <label>Rango de fechas: </label>
                        <div class="input-group">
                            <input type="text" class="form-control float-right" id="reservationtime" name="fecha">
                        </div>
                    </div>
                   
                    
                </div>

                <br/>
                <button class="btn btn-primary" >Ver Grafica</button>
                </form>




                            </div>
                        </div>
                    </div>
                </div>


@section Scripts
{

<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/daterangepicker.js"></script>
<script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="~/js/FuncionGrafica.js"></script>

<script>
   $(function(){
        $('.select2').select2({
            tags: true
        });
        
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      tags: true,
    });

          $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                });
             $('#reservationtime2').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                });
    });


    
</script>
}

@section css
{
    <link href="~/css/daterangepicker.css" rel="stylesheet">
}