@{
    ViewData["Title"] = "Modificar";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Categoria" asp-action="ModificarLabProducto" method="post">
    @await Html.PartialAsync("_LaboratorioProductoForm")
</form>