@{
    ViewData["Title"] = "Modificar";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Categoria" asp-action="Modificar" method="post">
    @await Html.PartialAsync("_CategoriaForm")
</form>