@{
    ViewData["Title"] = "Modificar";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Categoria" asp-action="NuevaMarca" method="post">
    @await Html.PartialAsync("_MarcasForm")
</form>