@{
    ViewData["Title"] = "Nuevo";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Categoria" asp-action="NuevoLaboratorioProducto" method="post">
    @await Html.PartialAsync("_LaboratorioProductoForm")
</form>
