@{
    ViewData["Title"] = "Nuevo";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Categoria" asp-action="NuevoGrupo" method="post">
    @await Html.PartialAsync("_GrupoForm")
</form>