@{
    ViewData["Title"] = "Nuevo";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Categoria" asp-action="NuevoTipoProducto" method="post">
    @await Html.PartialAsync("_TipoProductoForm")
</form>
