@{
    ViewData["Title"] = "Nuevo Paciente";
}

 @await Html.PartialAsync("_MensajeExito")
<form asp-controller="Cliente" asp-action="NuevoProspecto" method="post">
    @await Html.PartialAsync("_ClienteProspectoForm")
</form>

@section Scripts{
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    <script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            singleDatePicker: true,
            locale: {
            format: 'MM/DD/YYYY hh:mm A'
            }
        });
    </script>
    }

    @section css {
         <link href="~/css/daterangepicker.css" rel="stylesheet">
    }