@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    Layout = farmamest.Utilidades.SerSaludUiHelper.ResolverLayout(Configuration); 
    ViewData["Title"] = "Nueva habitacion";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12 text-center">
                <h4><b>Nueva habitaci&oacute;n</b></h4>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_HabitacionForm")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                <button class="btn btn-danger" data-bind="click:cancelarRegistrarHabitacion">Cancelar</button>
                <button class="btn btn-success" data-bind="click:registrarHabitacion">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/ViewModelKo/HabitacionVM.js"></script>
}