@{
    ViewData["Title"] = "Crear Examen";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="text-center">
            <h4><b>Nuevo examen</b></h4>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ExamenForm")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                <button class="btn btn-success" data-bind="click:registrarExamen">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/ViewModelKo/ExamenLabClinicoVM.js"></script>
}

@section css {
    <link href="~/css/daterangepicker.css" rel="stylesheet">
}