@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    // Leer el valor del appsettings.json. 
    string sufijoLayout = Configuration["Cliente"]; 
    
    // Concatenar para formar el nombre del Layout (ejemplo: "_Layout" + "SS")
    // Si la clave trae el nombre completo (ej. "_LayoutSS"), simplemente asignalo directo.
    Layout = $"_Layout{sufijoLayout}"; 
    ViewData["Title"] = "Sociedades";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12 text-center">
                <h4><b>Sociedades</b></h4>
                <hr />
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary text-white"
                   href="@Url.Action("Nueva","BufeteJuridicoSociedades")">Nueva sociedad</a>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabla-contratos">
                <thead>
                    <tr class="text-center">
                        <th>Nombre de sociedad</th>
                        <th>Fecha</th>
                        <th>Pais</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sociedad 001</td>
                        <td>2023/04/04</td>
                        <td>Guatemala</td>
                        <td><button class="btn btn-primary">Ver</button></td>
                    </tr>
                    <tr>
                        <td>Sociedad 001</td>
                        <td>2023/04/04</td>
                        <td>Mexico</td>
                        <td><button class="btn btn-primary">Ver</button></td>
                    </tr>
                    <tr>
                        <td>Sociedad 001</td>
                        <td>2023/04/04</td>
                        <td>Colombia</td>
                        <td><button class="btn btn-primary">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript" src="~/ViewModelKo/BufeteJuridicoContratosListaVM.js"></script>
}