@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    Layout = farmamest.Utilidades.SerSaludUiHelper.ResolverLayout(Configuration); 

    ViewData["Title"] = "Nueva sociedad";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <center><h4><b>Nueva sociedad</b></h4></center>
    </div>
</div>

@await Html.PartialAsync("_SociedadForm")

@section css{

}

@section Scripts{

}