<div class="col-md-12">
    <a class="btn btn-primary" asp-action="NuevoTraslado" asp-controller="Traslados">
        <i class="fas fa-plus"></i> Nueva solicitud
    </a>
    <a class="btn btn-danger" asp-action="EnTransito" asp-controller="Traslados">
       <i class="fas fa-list"></i> En tr&aacute;nsito
    </a>
    <a class="btn btn-danger" asp-action="Lista" asp-controller="Traslados">
        <i class="fas fa-list"></i> Todos
    </a>
    <a class="btn btn-danger" asp-action="Faltantes" asp-controller="Traslados">
        <i class="fas fa-list"></i> Faltantes
    </a>
     <a class="btn btn-danger" asp-action="ConProblema" asp-controller="Traslados">
        <i class="fas fa-list"></i> Con problema
    </a>
    <a class="btn btn-danger" asp-action="Cancelados" asp-controller="Traslados">
        <i class="fas fa-list"></i> Cancelados
    </a>
</div>