@model farmamest.Models.CategoriaCuentaContableViewModel;

@Html.HiddenFor(m => m.Id)

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <h5><b>Informaci&oacute;n de la categoria</b></h5>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <label>Nombre de la categoria</label>
                        @Html.TextBoxFor(a => a.Nombre, new
                        {
                        @class = "form-control",
                        @placeholder = "Nombre de la categoria"
                        })
                    </div>
                    <div class="col-md-12">
                        <label>Especificaciones</label>
                        @Html.TextAreaFor(a => a.Especificacion, new
                        {
                        @class = "form-control",
                        @placeholder = "Especificación"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>