@{
    ViewData["Title"] = "Admisiones";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body form-row">
        <div class="text-center col-md-12">
            <h4><strong>Nueva Admisión</b></h4>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CitaFormHospi")

<div class="main-card mb-3 card">
    <div class="card-body form-row">
        <div class="col-md-12">
            <button class="btn btn-primary" data-bind="click:agendarCita">
                Registrar Admisión
            </button>
        </div>
    </div>
</div>


@section Scripts{
<script src="~/ViewModelKo/CitaHospiVM.js?v=20250627hospi1"></script>
}