@model IEnumerable<Database.Shared.Models.Ruta>

@{
    Layout = "_HojaMembreteLayout";
    ViewData["Title"] = "Listado de rutas";

    // Flags de visibilidad del membrete
    ViewData["MostrarLogo"] = true;
    ViewData["MostrarNombreEmpresa"] = true;
    ViewData["MostrarDireccion"] = true;
    ViewData["MostrarTelefono"] = true;
    ViewData["MostrarCorreoElectronico"] = true;
    ViewData["MostrarServicios"] = true;
    ViewData["MostrarEmergencias"] = true;

    DateTime fecha = DateTime.Now;
}

<div class="text-right" style="font-size: 12px;">
    <label><strong>Fecha y hora de emisión:</strong> @fecha</label>
    <br />
</div>

<h4 class="text-center">Rutas registradas</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Dirección destino</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Destino</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>
</table>
