@{
    ViewData["Title"] = "Modificar categoria";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="text-center">
            <h4><b>Modificar categoria</b></h4>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CuentasForm")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div>
            <button class="btn btn-danger" data-bind="click: cancelarRegistroCuenta">
                Cancelar
            </button>
            <button class="btn btn-primary" data-bind="click:modificarCuenta">
                Guardar cuenta
            </button>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/ViewModelKo/CuentasVM.js"></script>
}