@model sistema.Models.HospitalizacionDetallesViewModel
<div class="tab-pane tabs-animation fade" id="tab-content-ambulancias" role="tabpanel">
    <div class="main-card mb-3 card" style="border-radius: 10px">
        <div class="card-body">

            <div class="d-flex justify-content-center" style="padding: 1rem 0;">
                <a href="@Url.Action("Nueva", "Ambulancias", new { hospitalizacionId = Model.HospitalizacionId })"
                   target="_blank"
                   class="btn btn-success btn-lg">
                    Asignar Ambulancia
                </a>
            </div>

            <br />

            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 25%;">ID</th>
                            <th style="width: 25%;">Tipo de Traslado</th>
                            <th style="width: 25%;">Precio</th>
                            <th style="width: 25%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: listaAmbulancias">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="text: tipoViaje"></td>
                            <td data-bind="text: precio"></td>
                            <td>
                                <a data-bind="attr: { href: '/Ambulancias/Detalle/' + id }" class="btn btn-info btn-sm" target="_blank">Ver Detalles</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
