@{
    ViewData["Title"] = "Editar servicio";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="text-center">
            <h4><b>Editar servicio</b></h4>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ServicioForm")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div>
            <button class="btn btn-danger" data-bind="click: cancelarEdicionServicio">
                Cancelar
            </button>
            <button class="btn btn-primary" data-bind="click: editarServicio">
                Guardar servicio
            </button>
        </div>
    </div>
</div>

@section Scripts{
<script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/ViewModelKo/ServicioVM.js"></script>
}